.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, hsl(var(--foreground)) 32%, transparent) transparent;
}

/* Add this to your global CSS */
[data-state="closed"] .dialog-overlay {
  pointer-events: none;
  display: none; /* Ensure it's fully removed */
}

#root {
  margin: 0 !important;
  padding: 0 !important;
}

body{
  margin: 0 !important;
  padding: 0 !important ;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
